<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form action="/add_bookmark" method="post">
  <label for="title">
    Add title
    <input type="text" id="title" name="title">
  </label>
  <label for="url">
    Add URL
    <input type="text" id="url" name="url">
  </label>
    <button>Add </button>
</form>
